<div class="container">
  <div class="row d-flex">
    <div class="col-xs-12">
      <h2>Title: <%= @task.title %></h2>
      <p>Details: <%= @task.details %></p>
      <p>Completed? <%= @task.completed ? 'âœ…' : 'ðŸš«' %></p>
      <%= link_to "ðŸ”™", tasks_path %>
      <%= link_to "âœ", task_edit_path %>
    </div>
  </div>
</div>


